/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
/* end: reset css */

/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");
/* end: import fonts */

/* main */
body {
  font-family: "Open Sans", sans-serif;
}

.profile-form {
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.field-infor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-form-left {
  display: flex;
  flex-direction: column;
}
.profile-form-right {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 6px;
  margin: 4px 0px 12px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  background-color: #005ca4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
